
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <title>Contacts</title>
</head>
<body>
    @*<nav class="navbar navbar-expand-sm bg-success navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/home/index" class="nav-link">Home</a>
                    <a href="/home/products" class="nav-link">Products</a>
                    <a href="/home/contacts" class="nav-link">Contacts</a>

                </li>

            </ul>
        </nav>*@
    <nav class="navbar navbar-expand-lg bg-success navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">APP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/products" class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/contacts" class="nav-link">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h1 class="text-success">Dashboard</h1>
            </div>

        </div>
    </div>
</body>
</html>
